/* CSS styles for the body and HTML elements */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* CSS styles for the main container */
#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* CSS styles for the quiz container */
#quiz-container {
  padding: 10px;
  background-color: #e4f0f5;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

/* CSS styles for the question */
#question {
  font-size: 8vw;
  font-weight: bold;
  color: #084c61;
  text-align: justify;
  margin-bottom: 16px;
}

/* CSS styles for the option containers */
.option-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c3e6cb;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option-container p {
  margin: 5px;
  color: #084c61;
  font-size: 6.5vw;
}

/* CSS styles for the answer */
#answer {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 7vw;
  color: #155724;
  text-align: center;
}

/* CSS styles for the timer */
#timer {
  font-size: 8vw;
  font-weight: bold;
  color: #c00000;
  text-align: center;
  margin-top: 16px;
}

/* Mobile-friendly styles */
@media screen and (max-width: 768px) {
  #quiz-container {
    padding: 10px;
  }

  #question {
    font-size: 8vw;
    margin-bottom: 16px;
  }

  #options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 16px;
    justify-items: center; /* Add this line */
  }

  .option-container {
    justify-content: center;
    font-size: 6.5vw;
    width: 100%;
 margin-right: 5px; /* Add this line */
  }

  .option-container:last-child {
    margin-right: 0; /* Add this line */
  }

  #answer {
    font-size: 8vw;
    margin-bottom: 10px;
  }

  #timer {
    font-size: 8vw;
    margin-top: 16px;
  }
}
