/* CSS styles for the main container */
#main-container {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* CSS styles for the quiz container */
#quiz-container {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to bottom, #000000, #4A4A4B);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 100vw;
}



/* CSS styles for the question and answer elements */
#question {
  font-size: 8vw;
  font-weight: bold;
  margin-bottom: 40px;
  color: #FAFAFA;
  text-align: justify;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility; /* Optimize text rendering for better legibility */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}


/* CSS styles for the option containers */
.option-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f1f000;
    padding: 12px;
    border-radius: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}



.option-container:hover {
    background-color: #F0F0F0;
}

.option-container p {
    margin: 5px;
    color: #000000;
    font-size: 6vw;
    font-weight: bold;
}

/* CSS styles for the answer element */
#answer {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 10vw;
    color: #1bff00;
    text-align: center;
    overflow-wrap: break-word;
}


/* CSS styles for the timer */
#timer {
    font-size: 8vw;
    font-weight: bold;
    color: #F0F0F0;
    text-align: center;
    margin-top: 20px;
    display: none;
}


/* CSS styles for the explanation element */
#explanation {
    font-size: 10vw;
    /* Set the initial font size for explanation */
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFFFFF;
    /* Set the text color to white */
    text-shadow: none;
    /* Ensure no text-shadow is applied */
    text-align: justify;
    overflow-wrap: break-word;
    display: none;
    /* Hide the explanation element initially */
}


/* Mobile-friendly styles */
@media screen and (max-width: 768px) {
    #quiz-container {
        padding: 10px;
    }

    #question {
        font-size: 12vw;
    }

    #options-container p {
        font-size: 8vw;
    }

    #answer {
        font-size: 9vw;
    }

    #timer {
        font-size: 12vw;
    }

    #explanation {
        font-size: 6vw;
    }
